@use "./src/theme/colors";

.header {
  padding: 20px 112px;
  background: colors.$black;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .logo {
      width: 36px;
      height: 36px;
      margin-right: 15px;
    }

    span {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      color: colors.$white;
    }
  }

  .right {
    display: flex;
    gap: 10px;
  }
}