@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Manrope:wght@200;300;400;500;700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body, html {
  display: flex;

  width: 100%;

  font-family: "Manrope", sans-serif;

  top: 0;
  left: 0;

  overflow-x: hidden;
}

h1 {
  font-family: "Krona One", sans-serif;
}

body {
  overflow-y: auto;
}

div#root {
  background: #000000;
  display: flex;

  top: 0;
  left: 0;


  width: 100%;

  flex-direction: column;

  overflow: hidden;
}

main {
  min-height: calc(100vh - 138px);

  @media screen and (max-width: 1199px) {
    min-height: calc(100vh - 168px);
  }

  @media screen and (max-width: 500px) {
    width: unset;
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}
